{"a": "Artifical", "b": "Event", "c": "Fin-Concept", "d": "Location", "e": "Organization", "f": "Person", "g": "Sector", "h": "Other", "i": "Invert", "j": "Invert", "k": "KKKK", "l": "Location", "m": "Location", "n": "Location", "o": "Location", "p": "Location", "q": "Location", "r": "Location", "s": "Location", "t": "Location"}